/* You can add global styles to this file, and also import other style files */
.flex-list-row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content:center;
}
.flex-list-column {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content:center;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

.borderIt {
  border: 1px solid dimgrey;
  border-radius: 5px;
  min-height: 50px;
}
